/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}
/* CSS Variables */
:root{
    --navbar-height: 59px;
}
/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}
#logo img{
    height: 59px;
    margin: 3px 6px;
}
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    font-family: 'Newsreader', serif;
}
#navbar ul{
    display: flex;
    list-style: none;
    font-size: 1.3rem;   
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
    
}

/* Home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 245px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background: url('Images And Icons/Bg1.jpg') no-repeat center center/cover;
    position:absolute;
    top: 0px;
    height: 60%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}
#home h1{
    color: white;
    text-align: center;
    font-size: 2rem;
    font-family: 'Newsreader', serif;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Texturina', serif;
}
/* Services section */
#services{
    margin: 20px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 5px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 28px;
}
#services .box p{
    font-family: 'Bree Serif', serif;
}
#services .box img{
    height: 98px;
    width: 100px;
    margin: auto;
    display: block;
}
/* Clients section */
#client-section{
    height: 317px;
}
#client-section::before{
     content: "";
     position: absolute;
     background: url("https://images.pexels.com/photos/5453837/pexels-photo-5453837.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
     width: 100%;
     height: 55%;
     z-index: -1;
     opacity: 0.5;
}
.clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.clients img{
    height: 124px;
}

/* Utility Class */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 2.2rem;
    padding: 0px;
}
.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 1.6rem;
    padding: 12px;
}
.btn{
    margin: 17px;
    padding: 6px 20px;
    color: white;
    border: 2px solid white;
    background-color: brown;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
}
/* Contact us section */
#contact{
    margin: 0px 0px;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 80%;
    z-index: -1;
    opacity: 0.5;
    background: url('https://cdn.pixabay.com/photo/2017/12/02/14/38/contact-us-2993000_1280.jpg') no-repeat center center/cover;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 6px;
    font-size: 0.7rem;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-family: 'Bree Serif', serif;
    font-size: 1.1rem;
}
/* Footer */
footer{
    background: black;
    color: white;
    padding: 3px 20px;
}
